
<div class="row" >

  <div class="small-12 large-12 columns" >
    <table>
      <thead>
        <tr>
          <th width="400">Title</th>
          <th width="200">Created at</th>
          <th width="350">Actions</th>
        </tr>
      </thead>

      <tbody>
      <% @posts.each do |p|%>
        <tr>
         <td><%=p.title %></td>
         <td><%=p.created_at %></td>
         <td>
           	<%= link_to "Show" , post_path(p.id)%>
         		|
           <%= link_to "Edit" , edit_backend_post_path(p.id)%>
         		|
            <%= link_to 'destroy', backend_post_path(p.id) , :method => :delete %>

          </td>
       </tr>
      <%end%>



     </tbody>

    </table>
  </div>

</div>
