<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <%= favicon_link_tag "favicon.ico" %>
          <%= render partial: "shared/meta" %>
      <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all"  %>
    <%= stylesheet_link_tag "coderay" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
   
    <%= javascript_include_tag "post-nav-control.js" %>
    <%= javascript_include_tag "vendor/modernizr" %>

  </head>

  <body>

<div class="off-canvas-wrap"  data-offcanvas>
  <div class="inner-wrap" id="wrap">
    <nav class="tab-bar">
        <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon fixed" href="#"><span></span> </a>
        </section>
      </section>
    </nav>
    <%= render partial: "shared/header"%>
 <div class="toprow ">
    <section class="middle tab-bar-section row">
        <div class="title-header line-up"><%= link_to "Hristo Georgiev" , root_path %></div>
    </section>
  <div class="row push-down">
    <div class="large-12 columns">
      <%= yield %>
    </div>
  </div>
</div><a class="exit-off-canvas"></a>
 

  </body>
</html>

